.bgimage{
    background:#fff;
}

body {
    font-family: 'Roboto', 'Sans-Serif';
    color:#111;
    font-size:18px;
    text-align:center;
    
}
.main-bg{
   background: url('../images/cryptocurrency___blockchain_wallpaper_for_desktop_by_luvcrypto-dc56tup.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
}
.game-div{
    background: rgba(76, 130, 175, 0.60);
    margin-right:1%;
    
    
}
.opacity-end{
    opacity: 100%;
}
.opt{
    font-weight: bold;
    
    font-size:22px;
    color:#fff;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:1%;
}
.question{
    font-size:30px;
    font-weight: bold;
    
}
.gameHead{
    font-weight:bolder;
    font-size:22px;
    color:navy;
}
.top{
    font-size:32px;
    font-weight:bolder;
}
#top{
    color: gold;
}
#opt{
    
}
